/* Global */
body {
    font-family: "Helvetica Neue", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    /* Margin bottom by footer height */
    margin-bottom: 180px;
}

.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}


/* Media Queries */
@media (max-width: 768px) {
    .mooc-img {
        width: 250px;
    }
    .mooc {
        text-align: center;
    }
    .moocs {
        border-left: none !important;
    }
    .user-photo {
        padding: 10px 15px;
    }
    .email,
    .social {
        text-align: center !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .data {
        padding-left: 45px;
    }
}


/* Custom Bootstrap style */
.navbar-default {
    background-color: #ffffff;
    border-color: #e7e7e7;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    font-size: 16px;
    color: black;
}


/* Navbar */
.my-brand {
    margin-top: -10px;
}

.login-btn {
    background-color: #02b3e4;
    border-radius: 7px;
    padding: 0 10px 0 10px;
    margin-left: 8px;
}


/* Custom styles */
.field-header {
    background-color: #1f8fc1;
    color: #ffffff;
    margin-bottom: 20px;
    padding: 10px 0 10px 10px;
}

.moocs {
    border-left: 1px solid #bdacac;
}

.active {
    background-color: #F0F0F0;
}

ul {
    list-style-type: none;
    margin-left: -20px;
}

ul a {
    color: #000000;
    text-decoration: none;
    font-size: 15px;

}

a {
    text-decoration: none !important;
}

.mooc {
    margin-bottom: 50px;
}

.mooc-title {
    font-size: 18px;
    text-decoration: none;
}

.title {
    margin-bottom: 40px;
}

.desc {
    margin-right: 15px;
    font-size: 16px;

}

.mooc-btn {
    margin-bottom: 40px;
}

.danger {
    color: #FFFFFF;
}

.extend {
    padding-top: 20px;
}

.creator-img {
    width: 90px;
    border-radius: 50%;
}


/* Sticky Footer */
html {
  position: relative;
  min-height: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer */
  height: 180px;
  background-color: #eafbff;
  padding-top: 30px;
}

.copyright {
    margin-top: 30px;
}
