<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Edit MOOC</h1>
    <form method="post">
        <label>Title: <input type="text" name="title" placeholder="Name"></label><br>
        <label>Provider: <input type="text" name="provider" placeholder="Provider"></label><br>
        <label>creator: <input type="text" name="creator" placeholder="creator"></label><br>
        <label>level: <input type="text" name="level" placeholder="level"></label><br>
        <label>cost: <input type="text" name="cost" placeholder="cost"></label><br>
        <label>url: <input type="url" name="url" placeholder="url"></label><br>
        <label>description:<textarea maxlength="250" rows="3" name="description" placeholder="Description"></textarea></label><br>
        <label>image: <input type="text" name="image" placeholder="image"></label><br>
        <input type="submit" value="Edit">
        <button type="button"><a href="#">Cancel</a></button>
</body>
</html>