{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="row mooc">
    <div class="col-sm-8">
        <h3>{{ mooc.title }}</h3>
    </div>
    <div class="col-sm-4">
        <h4>{{ field.name }}</h4>
    </div>
</div>
<div class="row mooc">
    <div class="col-sm-8 desc">
        <p><strong>Description:</strong> {{ mooc.description }}</p>
    </div>
    <div class="col-sm-3">
        <div class="row">
            {{ mooc.level }}
        </div>
        <div class="row">
            {{ mooc.creator }}
        </div>
        <div class="row">
            <a href="{{ mooc.url }}">Go to MOOC</a>
        </div>

    </div>

</div>
{% if mooc.user_id == session.get('user_id') %}
<div class="row mooc">
    <button type="button" class="btn btn-default mooc-btn"><a href="{{ url_for('edit_mooc', field_id=mooc.field.id, mooc_id=mooc.id) }}">Edit</a></button>
    <button type="button" class="btn btn-danger mooc-btn"><a href="{{ url_for('delete_mooc', field_id=mooc.field.id, mooc_id=mooc.id) }}" class="danger">Delete</a></button>
</div>
{% endif %}
</div>
{% endblock %}