{% extends "public_index.html" %}
{% block moocs %}
<div class="container-fluid">
<div class="col-sm-9 moocs">
    <div class="row field-header">
        <h3 class="title">{{ field.name }}</h3>
    </div>
    {%- for mooc in moocs %}
    <div class="row mooc">
        <div class="col-sm-3">
            <a href="{{ url_for('show_mooc', field_id=mooc.field.id, mooc_id=mooc.id) }}"><img src="{{ mooc.image }}" width="160px" class="mooc-img"></a>
        </div>
        <div class="col-sm-9 data">
            <div class="row">
                <div class="col-sm-8">
                    <a href="{{ url_for('show_mooc', field_id=mooc.field.id, mooc_id=mooc.id) }}" class="mooc-title">{{ mooc.title }}</a>
                </div>
                <div class="col-sm-4">
                    {{ mooc.level }}
                </div>
            </div>
            <div class="row extend">
                <div class="col-sm-8">
                    <strong>Creator:</strong> {{ mooc.creator }}
                </div>
                <div class="col-sm-4">
                     <a href="{{ mooc.url }}">{{ mooc.provider }}</a>
                </div>
            </div>
        </div>
    </div>
    {%- endfor %}
</div>
</div>
{% endblock %}