{% extends "index.html" %}
{% block moocs %}
<div class="col-sm-9 moocs">
    <div class="row field-header">
        <div class="col-sm-10">
            <h3>{{ field.name }}</h3>
            {% if creator.id == session.get('user_id') %}
            <a class="btn btn-default mooc-btn" href="{{ url_for('field.edit_field', field_id=field.id) }}">Edit</a>
            <a class="btn btn-danger mooc-btn danger" href="{{ url_for('field.delete_field', field_id=field.id) }}">Delete</a>
            {% endif %}
        </div>
        <figure class="col-sm-2 text-center">
                <img src="{{ creator.picture }}" alt="User who created this field" class="creator-img">
                <figcaption style="font-size: 14px">{{ creator.name }}</figcaption>
        </figure>
    </div>
    <a class="btn btn-default mooc-btn" href="{{ url_for('mooc.new_mooc', field_id=field.id) }}">Add MOOC</a>

    {%- for mooc in moocs %}
    <div class="row mooc">
        <div class="col-sm-3">
            <a href="{{ url_for('mooc.show_mooc', field_id=mooc.field.id, mooc_id=mooc.id) }}"><img src="{{ mooc.image }}" width="160px" class="mooc-img"></a>
        </div>
        <div class="col-sm-9 data">
            <div class="row">
                <div class="col-sm-8">
                    <a href="{{ url_for('mooc.show_mooc', field_id=mooc.field.id, mooc_id=mooc.id) }}" class="mooc-title">{{ mooc.title }}</a>
                </div>
                <div class="col-sm-4">
                    <img src="{{ user_info(mooc.user_id).picture }}" alt="User who created this mooc" width="50px">
                </div>
            </div>
            <div class="row extend">
                <div class="col-sm-8">
                    <strong>Creator:</strong> {{ mooc.creator }}
                </div>
                <div class="col-sm-4">
                     <a href="{{ mooc.url }}">{{ mooc.provider }}</a>
                </div>
            </div>
            {% if mooc.user_id == session.get('user_id') %}
            <div class="row">
                <div class="col-sm-12 extend">
                    <a class="btn btn-default mooc-btn" href="{{ url_for('mooc.edit_mooc', field_id=mooc.field.id, mooc_id=mooc.id) }}">Edit</a>
                    <a class="btn btn-danger mooc-btn danger" href="{{ url_for('mooc.delete_mooc', field_id=mooc.field.id, mooc_id=mooc.id) }}">Delete</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {%- endfor %}
</div>
{% endblock %}